Final522.aux 
Final522.fdb_latexmk 
Final522.fls 
Final522.log 
Final522.out
Final522.synctex.gz
Final522.tex 
Journals-20230401T155037Z-001.zip 
mapping.txt
Mood AI.html
neurips_2020.aux 
neurips_2020.fdb_latexmk 
neurips_2020.fls 
neurips_2020.log 
neurips_2020.out 
neurips_2020.pdf 
neurips_2020.sty 
neurips_2020.synctex.gz 
neurips_2020.tex 
Ouput 1.png 
output2.png 
test.aux 
test.fdb_latexmk 
test.fls 
test.log 
test.pdf 
test.synctex.gz 
test.tex